{% extends "::base.html.twig" %}

{% block fos_user_content %}

<div class="col-md-3 col-md-offset-3">
	<form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
		<h4 class="form-signin-heading text-center"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Entrar al sistema</h4>
		
		<label class="sr-only">Usuario</label>
	    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" autofocus required="required" placeholder="Usuario"/>
	    <p></p>
		<label class="sr-only">Contraseña</label>
		<input type="password" id="password" name="_password" class="form-control" placeholder="Contraseña" required="required">
		<p></p>
		<input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="Entrar" />
	</form>
</div>

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{% endblock fos_user_content %}

